{
  "bracketSpacing": false,
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.{js,ts,jsx,tsx}",
      "options": {
        "trailingComma": "all",
        "endOfLine": "auto"
      }
    },
    {
      "files": "*.scss",
      "options": {
        "singleQuote": false
      }
    }
  ]
}
