* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html, body, #root {
  width: 100%;
}

body {
  background-color: #f5f5f5;
  padding: 20px;
}

body, input, button {
  font-family: Arial, Helvetica, sans-serif;
}